[project]
	description = This is the output framework of the Adapt Learning open source project 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chuchu (chuck-n0rr1s)
[access "refs/for/refs/*"]
	read = group user/Chuchu (chuck-n0rr1s)
	push = group user/Chuchu (chuck-n0rr1s)
	label-Code-Review = -2..+2 group user/Chuchu (chuck-n0rr1s)
	label-Verified = -1..+1 group user/Chuchu (chuck-n0rr1s)
	rebase = group user/Chuchu (chuck-n0rr1s)
	removeReviewer = group user/Chuchu (chuck-n0rr1s)
	submit = group user/Chuchu (chuck-n0rr1s)
[access "refs/heads/*"]
	read = group user/Chuchu (chuck-n0rr1s)
	create = group user/Chuchu (chuck-n0rr1s)
	push = +force group user/Chuchu (chuck-n0rr1s)
	pushMerge = group user/Chuchu (chuck-n0rr1s)
[access "refs/tags/*"]
	push = +force group user/Chuchu (chuck-n0rr1s)
	pushTag = group user/Chuchu (chuck-n0rr1s)
	pushSignedTag = group user/Chuchu (chuck-n0rr1s)
